@chaset="UTF-8";

.container{
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

body{
    font-family: candara;
}

/* Cabeçalho: Menu e área de login */

div#interface{
    width: 960px;
    margin: -22px auto;

}

div#logo img{
    margin-top: 10px;
    margin-left: -70px;
}

nav#menu{
    //margin-left: auto;
    //margin-right: auto;
    display: block;
    font-size: 13pt;    
}

nav#menu ul{
    text-align:center;    
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;
    
}

nav#menu li:hover{
    background-color: #F1F1F1;    
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

div#logo{
   top: 20px;
   right: 150px;
   left: 10px;
   display: block;   
}

/* Subtítulo */

#agendamento{
    font-family: candara;
}

/* Container com os campos de CPF e senha */ 

div#marcar{
    border: solid;
    border-color: darkgray;
    background-color: black;
    width: 900px;
    height: 400px;
    margin: 100px auto;
    padding: 10px 0px 0px 25px;
    font-family: sans-serif;    
    background: url('../imagens/calendario.png')no-repeat 95% 95%;
}

div#marcar p{
    font-size: 11pt;
}

div#corpo{
    background: url:('../imagens/bg1.jpg');
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* Classe para os inputs de cpf e senha */

.txtconsulta{
    padding: 8px 10px;
    width: 200px;
    
}

/* Formatação dos botões */

#botao{
    padding: 6px;
    margin-top: 3px;
    width: 85px;
    border-radius: 2px;
}

#botao2{
    padding: 6px 0px 6px 1px;
    margin-left: 20px;
    width: 118px;
    border-radius: 2px;
}

aside #bt-pesquisa{
    float: right;
    margin-right: 10px;
    border-radius: 2px;
    padding: 8px;
    width: 150px;
    background-color: rgb(60, 179, 113);
}

aside #bt-desmarca{
    float: right;
    margin-right: 10px;
    border-radius: 2px;
    padding: 8px;
    width: 150px;
    background-color: rgb(60, 179, 113);
}

/* Tudo relacionado ao rodapé da página */

footer#rodape{
    clear: both;
    width: 100%;
    border-top: 1px solid;
}


div#institucional{
    float: left;
    position: relative;
    width: 18%;
}

div#onde{
    float: left;
    position: relative;
    width: 14%;
}

div#endereco2{
    float: left;
    position: relative;
    width: 14%;   
}

div#endereco3{
    float: left;
    position: relative;
    width: 15%;   
}

div#atendimento{
    float: left;
    position: relative;
    width: 15%;
}

div#online{
    float: left;
    position: relative;
    width: 15%;
}

div#conectar{
    float: left;
    position: relative;
}

div#conectar img{
    margin: -30px 0px 0px -60px;
}