@chaset="UTF-8";

.container{
    width: 100%;
    margin: 20px auto;
}

body{
    font-family: candara;
}

div#interface{
    width: 960px;
    margin: -22px auto auto;
}

div#logo img{
    margin-top: 10px;
    margin-left: -70px;
}

/* Cabeçalho: Menu e área de login */

nav#menu{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 13pt;    
}

nav#menu ul{
    text-align:center;
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;
    //transition: background-color 1s;    
}

nav#menu li:hover{
    background-color: #F1F1F1;    
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/* Container com os campos de usuário e senha */

fieldset#colaborador{
    width: 690px;
    margin: -1px auto;
    font-size: 9pt;
}

fieldset#colaborador label{
    float: left;
}

fieldset#colaborador input{    
    padding: 5px;
}

fieldset#colaborador input#senha{
    margin-left: 6px;
}

fieldset#colaborador a{
    color: red;
   padding:1px;
   margin-bottom: 23px;
}

fieldset input#logar{
    width: 70px;
    margin-left: 8px;
    border-radius: 2px;
}

/* Classe para os campos de usuario e senha */

.txtusuario{
    margin: 15px 0px 0px 20px;
    width: 180px;
}

/* Imagem do corpo da página ao ser carregada */

body{
    background: url('../imagens/medico_backgorund02.jpg')100% no-repeat;
}

