@chaset="UTF-8";

/* Cabeçalho: Menu e login */

body{
    width: 100%;
    height: 100%;
}

nav#menu{
    display: block;
    margin: -10px 0px 0px 200px;
    font-family: candara;
    font-size: 13pt;
    
}

nav#menu ul{
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;
    //transition: background-color 1s;
    
}

nav#menu li:hover{
    background-color: #F1F1F1;    
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

img#logo{
    margin: 10px 0px 0px 120px;
}

/* Container de login */

form#colaborador{
    width: 690px;
    margin: -5px 10px 0px 350px;
    font-family:candara;
    font-size: 9pt;
}

form#colaborador label{
    float: left;
}

form#colaborador input{    
    padding: 5px;
}

form#colaborador input#senha{
    margin-left: 6px;
}

form#colaborador a{
    color: red;
   padding:1px;
   margin-bottom: 23px;
}

form input#logar{
    width: 70px;
    margin-left: 8px;
    border-radius: 2px;
}

/* Classe para os inputs de usuário e senha */

.txtusuario{
    margin: 15px 0px 0px 20px;
}

img#foto_medico{
    margin: 100px 50px 0px 410px;
}

div#corpo p{  
    margin-left: 350px;
    text-indent: 3%;
    font-family: candara;
    text-align: justify;
}

/* Tudo relacionado a parte de rodapé da página */

footer#rodape{
    border-top: 2px darkgray solid;
    margin:50px 0px 0px 10px;
    font-family: candara;
    display: block;
}

hr{
    border: 1px;
}

div#institucional li{
    margin-left: -40px;
}

div#encontrar{
    margin: -120px 0px 0px 230px;
}

div#atendimento{
    margin: -286px 0px 0px 450px;
}

div#atendimento .online{
    margin: -180px 0px 0px 280px;
}

div#conectar{
    margin: -180px 0px 0px 950px;
}

div#conectar img{
    margin: -30px 0px 0px -60px;
}