@chaset="UTF-8";

body{
    background: url('../imagens/medica.jpg') 1% 5% no-repeat;
    font-family: candara;
}

nav#menu{
    display: block;
    margin: -10px 0px 0px 200px;
    font-family: candara;
    font-size: 13pt;
    
}

nav#menu ul{
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;
    
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

img#logo{
    margin: 10px 0px 0px 120px;
}



form#colaborador{
    width: 690px;
    margin: -5px 10px 0px 350px;
    font-family:candara;
    font-size: 9pt;
}

form#colaborador label{
    float: left;
}

form#colaborador input{    
    padding: 5px;
}

form#colaborador input#senha{
    margin-left: 6px;
}

form#colaborador a{
    color: red;
   padding:1px;
   margin-bottom: 23px;
}

form input#logar{
    width: 70px;
    margin-left: 8px;
    border-radius: 2px;
}

.txtusuario{
    margin: 15px 0px 0px 20px;
}

.txt{
    width: 250px;
    padding: 8px;
}

fieldset{
    margin: 50px auto;
    width: 710px;
}