@chaset="UTF-8";


.container{
    width: 100%;
    margin: 20px auto;
}

body{
    font-family: candara;
}

/* Cabeçalho: Menu e login */

div#interface{
    width: 960px;
    margin: -22px auto auto;
}

div#logo img{
    margin-top: 10px;
    margin-left: -70px;
}

nav#menu{ 
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 13pt;    
}

nav#menu ul{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;    
}

nav#menu li:hover{
    background-color: #F1F1F1;    
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/* Container de login */

fieldset#colaborador{
    width: 690px;
    margin: -1px auto;
    font-size: 9pt;
}

fieldset#colaborador label{
    float: left;
}

fieldset#colaborador input{    
    padding: 5px;
}

fieldset#colaborador input#senha{
    margin-left: 6px;
}

fieldset#colaborador a{
   color: red;
   padding:1px;
   margin-bottom: 23px;
}

fieldset input#logar{
    width: 70px;
    margin-left: 8px;
    border-radius: 2px;
}

/* Classe para os campos de usuario e senha */

.txtusuario{
    margin: 15px 0px 0px 20px;
    width: 180px;
}

/* Parágrafo com informaçãos acerca dos procedimentos */

p#secao{
    margin-top: 40px;
}

img#exames{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#container_procedimentos{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Cada ul contém informações sobre o procedimento selecionado */

ul#procedimentos{
    width: 700px;
    margin: -10px auto 0px 300px;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#procedimentos li{
    float: left;
    width: 180px;
    height: 140px;
    margin: 10px;
    border: 2px solid dark-gray;
    font-family: candara;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px(0, 0, 0,.4);
}

ul#procedimentos a:link{
    text-decoration: none;
    color: gray;
}

ul#procedimentos a:hover{
    color: green;
}

/* Conteiner dos procedimentos */

ul#procedimentos li#img01{
    background: url('../imagens/biopsia.jpg')no-repeat 55% 60%;
}

ul#procedimentos li#img02{
    background: url('../imagens/botox.jpg')no-repeat 20% 50%;
}

ul#procedimentos li#img03{
    background: url('../imagens/dessind_ossea.jpg')no-repeat;
}

ul#procedimentos li#img04{
    background: url('../imagens/dopler.jpg')no-repeat 50% 70%;
}

ul#procedimentos li#img05{
    background: url('../imagens/ecocardiografia.jpg')40% 50% no-repeat;
}

ul#procedimentos li#img06{
    background: url('../imagens/eletro.jpg') 30% 20% no-repeat;
}

ul#procedimentos li#img07{
    background: url('../imagens/eletroencefalograma.jpg')30% 40% no-repeat;
}

ul#procedimentos li#img08{
    background: url('../imagens/endoscopia.jpg')no-repeat 40% 60%;
}

ul#procedimentos li#img09{
    background: url('../imagens/exames_laboratoriais2.jpg')no-repeat;
}

ul#procedimentos li#img10{
    background: url('../imagens/hormonal.jpg') 50% 30% no-repeat;
}

ul#procedimentos li#img11{
    background: url('../imagens/impressao3d.png') 30% 40% no-repeat;
}

ul#procedimentos li#img12{
    background: url('../imagens/mamografia.jpg')no-repeat 20% 45%;
}

ul#procedimentos li#img13{
    background: url('../imagens/peeling.jpg')no-repeat;
}

ul#procedimentos li#img14{
    background: url('../imagens/puncao.png')no-repeat 40% 50%;
}

ul#procedimentos li#img15{
    background: url('../imagens/raiox_3d.png')no-repeat;
}

ul#procedimentos li#img16{
    background: url('../imagens/ressonancia.jpg')no-repeat;
}

ul#procedimentos li#img17{
    background: url('../imagens/tomografia.jpg')no-repeat;
}

ul#procedimentos li#img18{
    background: url('../imagens/ultrassonografia.jpg')no-repeat;
}

ul#procedimentos span.fonte_branca a{
    color: white;
}

ul#procedimentos span.fonte_preta a{
    color: black;
}

/* A partir daqui, tudo é relacionado ao rodapé da página */

footer#rodape{
    clear: both;
    width: 100%;
    border-top: 1px solid;
}


div#institucional{
    float: left;
    position: relative;
    width: 18%;
}

div#onde{
    float: left;
    position: relative;
    width: 14%;
}

div#endereco2{
    float: left;
    position: relative;
    width: 14%;   
}

div#endereco3{
    float: left;
    position: relative;
    width: 15%;   
}

div#atendimento{
    float: left;
    position: relative;
    width: 15%;
}

div#online{
    float: left;
    position: relative;
    width: 15%;
}

div#conectar{
    float: left;
    position: relative;
}

div#conectar img{
    margin: -30px 0px 0px -60px;
}