@chaset="UTF-8";

/* Cabeçalho: Menu e área de login */

nav#menu{
    display: block;
    margin: -10px 0px 0px 200px;
    font-family: candara;
    font-size: 13pt;
    
}

nav#menu ul{
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

nav#menu li{
    display: inline-block;
    background-color: #b4c82a;
    padding: 10px;
    
}

nav#menu li:hover{
    background-color: #F1F1F1;    
}

nav#menu a:link{
    text-decoration: none;
    color: black;
}

nav#menu a:visited{
    color: black;
}

/* Container com os campos de usuário e senha */

img#logo{
    margin: 10px 0px 0px 120px;
}

form#colaborador{
    width: 690px;
    margin: -5px 10px 0px 350px;
    font-family:candara;
    font-size: 9pt;
}

form#colaborador label{
    float: left;
}

form#colaborador input{    
    padding: 5px;
}

form#colaborador input#senha{
    margin-left: 6px;
}

form#colaborador a{
   color: red;
   padding:1px;
   margin-bottom: 23px;
   text-decoration:none; 
}

form input#logar{
    width: 70px;
    margin-left: 8px;
    border-radius: 2px;
}

/* Classe para os campos de usuario e senha */

.txtusuario{
    margin: 15px 0px 0px 20px;
}

/* Subtítulo */

h4{
    font-family: candara;
}

/* Parágrafo com informaçãos acerca dos procedimentos */

p#secao{
    font-family: candara;
    margin-top: 40px;
}

div#fotoexames{
    margin: 50px 50px 0px 410px;
}

/* Cada ul contém informações sobre o procedimento selecionado */

ul#procedimentos{
    width: 700px;
    margin: -10px auto 0px 300px;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#procedimentos li{
    float: left;
    width: 180px;
    height: 140px;
    margin: 10px;
    border: 2px solid dark-gray;
    font-family: candara;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px(0, 0, 0,.4);
}

ul#procedimentos a:link{
    text-decoration: none;
    color: gray;
}

ul#procedimentos a:hover{
    color: green;
}


ul#procedimentos li#foto01{
    background: url('../imagens/biopsia.jpg')no-repeat 55% 60%;
}

ul#procedimentos li#foto02{
    background: url('../imagens/botox.jpg')no-repeat 20% 50%;
}

ul#procedimentos li#foto03{
    background: url('../imagens/dessind_ossea.jpg')no-repeat;
}

ul#procedimentos li#foto04{
    background: url('../imagens/dopler.jpg')no-repeat 50% 70%;
}

ul#procedimentos li#foto05{
    background: url('../imagens/ecocardiografia.jpg')40% 50% no-repeat;
}

ul#procedimentos li#foto06{
    background: url('../imagens/eletro.jpg') 30% 20% no-repeat;
}

ul#procedimentos li#foto07{
    background: url('../imagens/eletroencefalograma.jpg')30% 40% no-repeat;
}

ul#procedimentos li#foto08{
    background: url('../imagens/endoscopia.jpg')no-repeat 40% 60%;
}

ul#procedimentos li#foto09{
    background: url('../imagens/exames_laboratoriais2.jpg')no-repeat;
}

ul#procedimentos li#foto10{
    background: url('../imagens/impressao3d.png')no-repeat;
}

ul#procedimentos li#foto11{
    background: url('../imagens/mamografia.jpg') 30% 40% no-repeat;
}

ul#procedimentos li#foto12{
    background: url('../imagens/peeling.jpg')no-repeat;
}

ul#procedimentos li#foto13{
    background: url('../imagens/raiox_3d.png')no-repeat;
}

ul#procedimentos li#foto14{
    background: url('../imagens/tomografia2.jpg')no-repeat;
}

ul#procedimentos li#foto15{
    background: url('../imagens/ressonancia.jpg')no-repeat;
}

ul#procedimentos li#foto16{
    background: url('../imagens/ultrassonografia.jpg')no-repeat;
}

ul#procedimentos span{
    color: white;
}

ul#procedimentos span.fonte_preta{
    color: black;
}

/* Rodapé presente em algumas páginas */

footer#rodape{
    border-top: 2px dark-gray solid;
    margin:50px 0px 0px 10px;
    font-family: candara;
    display: block;
}

footer#rodape a:link{
    text-decoration:none;
}

div#institucional li{
    margin-left: -40px;
}

div#encontrar{
    margin: -120px 0px 0px 230px;
}

div#atendimento{
    margin: -286px 0px 0px 450px;
}

div#atendimento .online{
    margin: -180px 0px 0px 280px;
}

div#conectar{
    margin: -180px 0px 0px 950px;
}

div#conectar img{
    margin: -30px 0px 0px -60px;
}